html {
   margin:0;
   padding:0;
   height:100%;
}

body {
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    margin:0;
    padding:0;
    height:100%;
}

img {
    width: 100%;
    max-width:500px;
}

.title {
    margin: 0;
}

.explanation {
    margin: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.answer {
    font-size:5em;
    margin: 0;
    padding: 0;
}

.stats {
    margin: 10px;
    display: inline-block;
    text-align: left;
}

input[type=submit]{
    font-family: Impact, Charcoal, sans-serif;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;      
}

.container {
    min-height:100%;
    position: relative;
}

.main {    
    padding:10px;
    padding-bottom:80px;
}

.countries {
    white-space: nowrap;
    display: none;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    box-shadow: 0 0 0 1px black;
}
